@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

header {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
    img{
        height: 68px;
        width: 210.32px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 57px;
        a{
        text-decoration: none;
        font-size: 24px;
        font-weight: 300;
        color: black;
        }
        .underline {
            text-decoration: underline;
        }
    }
}