.top_part{
    display: grid;
    grid-template-columns: 80% 20%;
    .left_part{
        width: 100%;
        h1{
            color: #FF6060;
            margin-bottom: 0;
        }
        .location{
            color: black;
            margin: 0;
        }
    }
    .right_part{
        width: 100%;
        .host{
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;
            .host_name{
                color: #FF6060;
                text-align: right;
                margin-right: 10px;
                width: 75px;
            }
            .host_picture{
                border-radius: 100px;
                width: 64px;
                height: 64px;
            }
        }
        .starcontainer{ 
            display: flex;
            justify-content: flex-end;
            align-content: flex-end;
            gap: 10px;
            width: 100%;
        }
    }
}
.dropdowncontainerhousing{
    display: flex;
    gap: 75px;
    margin-bottom: 50px;
    .dropdowncontainer{
        width: 50%;
    }
}

@media (max-width : 1024px){
    .top_part{
        display: flex;
        flex-direction: column;
        .right_part{
            display: flex;
            flex-direction: row-reverse;
            .host{
                margin: 0;
                .host_name{
                    font-size: 12px;
                    margin: 0 10px 0 0;
                }
                .host_picture{
                    width: 32px;
                    height: 32px;
                }
            }
            .starcontainer{
                justify-content: flex-start;
                align-items: flex-end;
                margin-bottom: 25px;
                img{
                    height: 18px;
                    width: 18px;
                }
            }
        }
        .left_part{
            h1{
                font-size: 18px;
            }
            .location{
                font-size: 14px;
            }
            .tags{
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .dropdowncontainerhousing{
        flex-direction: column;
        gap: 20px;
        .dropdowncontainer{
            width: 100%;
            .dropdowntiltle{
                h2{
                    font-size: 13px;
                }
                img{
                    width: 16px;
                }
            }
        }
    }
}