@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
  font-family: 'Montserrat', sans-serif
}
main{
  margin: 50px 100px 50px 100px
}

@media (max-width : 1024px){
  main{
    margin-left: 15px;
    margin-right: 15px;
  }
}